/*--------------------------------------------------------------
	Contact Item
--------------------------------------------------------------*/
.onepage_contact_module .contact-item {
	position: relative;
	margin-bottom: 50px;
	padding-right: 65px;
	text-align: right;
	overflow: hidden;
	opacity: .8;
	color: #fff;
	-webkit-transition: opacity .5s ease;
			transition: opacity .5s ease;
	-webkit-transform: translateZ(0);
}

.contact-form fieldset {
    padding: 0px 20px;
}

.contact-form fieldset.checkbox a,
.contact-form fieldset.checkbox span{
    color:#fff;
}

.contact-form input#contact-form-checkbox {
    position: relative;
    margin: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #fff;
    margin-right: 12px;
    top: 5px;
}
.contact-form input#contact-form-checkbox::after {
    content: "";
    top: 0;
    width: 6px;
    height: 12px;
    border-width: 2px;
    transform: rotate(45deg);
}

.contact-form .contact-item i {
    color: #f22b6e;
}

.onepage_contact_module .contact-info .contact-item:last-child {
	margin-bottom: 0;
}

.onepage_contact_module .contact-item:hover {
	opacity: 1;
}

.onepage_contact_module .contact-item .ci-icon {
	position: absolute;
	top: 0;
	right: 5px;
	width: 45px;
	height: 45px;
	font-size: 1.538em;
	line-height: 2.25em;
	text-align: center;
	border-left: 1px solid;
}

.onepage_contact_module .contact-item .ci-title {
	font-size: .923em;
	font-weight: 700;
	line-height: 1.6em;
	letter-spacing: .083em;
	text-transform: uppercase;
	margin-bottom: 4px;
	font-family: "Poppins", sans-serif;
}

.onepage_contact_module .contact-item .ci-content {
	font-size:15px;
	font-weight: 500;
	letter-spacing: .063em;
	font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
4.6.2 Contact Form
--------------------------------------------------------------*/
.onepage_contact_module .contact-form label {
	display: none !important;
}

.onepage_contact_module .contact-form #contact-form-result,
.onepage_contact_module .contact-form .contact-form-process {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.onepage_contact_module .contact-form-process i {
	position: relative;
	top: 40%;
	left: 45%;
	font-size: 2.308em;
}

.onepage_contact_module #contact-form-result span {
	position: relative;
	top: 35%;
	left: 30%;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	background-color: #ff4070;
}

.onepage_contact_module #contact-form-result span i {
	margin-right: 5px;
}

.onepage_contact_module .contact-form textarea,
.onepage_contact_module .contact-form input[type="text"],
.onepage_contact_module .contact-form input[type="email"] {
	resize: none;
	padding: 0 0 10px 2px;
	line-height: 1.538em;
	background: transparent;
	border: none;
	border-bottom: 1px solid;
	color:#fff;

	-webkit-transition: all .3s ease;
			transition: all .3s ease;
}

.onepage_contact_module .contact-form input:focus,
.onepage_contact_module .contact-form textarea:focus {
	outline: 0;
	opacity: 1;
}

.onepage_contact_module .contact-form input.error,
.onepage_contact_module .contact-form textarea.error {
	color: #fff;
}

.onepage_contact_module .contact-form .btn {
	width: 100%;
	font-size: 1.154em;
	letter-spacing: .133em;
	margin-top: 15px;
}

.onepage_contact_module .onepage_contact_module{
	background-color:#ffffff;
}

.onepage_contact_module .contact-item{
	opacity:1;
}
.onepage_contact_module textarea::placeholder,
.onepage_contact_module input::placeholder{
	font-size: 15px;
	font-weight: 700;
	opacity: .7;
	color:#fff;
}
.onepage_contact_module .onepage_contact_content{
	padding-top: 70px;
	padding-left: 30px;
}
.onepage_contact_module .onepage_contact_cntnt{
	padding-left:0px;
}
.onepage_contact_module .onepage_btn_text {
	padding: 20px 38px;
	position: relative;
	color: #fff;
}
.onepage_contact_module .onepage_btn_text::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	border: 2px solid #ffffff;
	background-color:transparent;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
}
.onepage_contact_module .onepage_btn_text::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	border: 2px solid #ffffff;
	background-color: rgba(255, 255, 255, 0.25);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	-o-transition: all 0.35s;
	transition: all 0.35s;
	-webkit-transform: scale(0.5, 0.5);
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-o-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
}
.onepage_contact_module .onepage_btn_text:hover, .onepage_btn_text:focus {
	color: #fff;
}
.onepage_contact_module .onepage_btn_text:hover::before,
.onepage_contact_module  .onepage_btn_text:focus::before {
	opacity: 0;
	-webkit-transform: scale(1.2, 1.2);
	-moz-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	-o-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.onepage_contact_module .onepage_btn_text:hover::after,.onepage_contact_module .onepage_btn_text:focus::after {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}
@media screen and (min-width:768px) and (max-width:991px){
	.onepage_contact_module .contact-item .ci-icon{
		left: 175px;
		border-bottom:none;
	}
}
@media screen and (min-width:576px) and (max-width:767px){
	.onepage_contact_module .contact-item{
		display:none;
	}
}
@media screen and (min-width:320px) and (max-width:575px){
	.onepage_contact_module .contact-item{
		display:none;
	}

}